certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.3.2
cycler==0.11.0
fonttools==4.38.0
idna==3.4
kiwisolver==1.4.5
matplotlib==3.5.3
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-contrib-python==3.4.2.17
packaging==23.2
Pillow==9.5.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
torch==1.13.1
torchsummary==1.5.1
torchvision==0.14.1
typing_extensions==4.7.1
urllib3==2.0.7
